<h1>글쓰기</h1>

<form action='/write' method='POST'>
    <div>
        작성자: <input type='text' name="post_editor">
    </div>
    <div>
        제목: <input type='text' name="post_title">
    </div>
    <div>
        내용: <textarea  name="post_content"></textarea>
        
    </div>
    <button type="submit">저장</button>
</form>